<!DOCTYPE html>
<html lang="ru" class="loading">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0">
	<title>MrBoomDev - Фронтенд Разработчик</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<meta name="apple-mobile-web-app-title" content="MrBoomDev">
	<meta name="application-name" content="MrBoomDev">
	<meta name="msapplication-TileColor" content="#9f00a7">
	<meta name="theme-color" content="#11071F">
	<meta name="description" content="Мне 15 лет и я обожаю веб-интерфейсы. Люблю рисовать, создавать и дизайнить. Также в свободное время занимаюсь разработкой своей мобильной игры.">
	<meta name="keywords" content="MrBoomDev, Разработчик, MrBoomDeveloper, FNaF, Multiplayer">
	
	<% if(!htmlWebpackPlugin.options.isProd) { %>
	<script src="https://cdn.jsdelivr.net/npm/eruda"></script><script>eruda.init();</script>
	<% } %>
	
	<style>html.loading{background:#11071F}html.loading body{opacity:0}</style>
</head>
<body>
	<div id="app" class="reveal">
		<%= htmlWebpackPlugin.options.body %>
	</div>
</body>


