@import "../core/style";
@import "sections/banner",
	"sections/hero",
	"sections/screenshots",
	"sections/comments",
	"sections/details";


section {
	&.description, &.screenshots, &.details, &.update {
		h3 {
			font-size: 1.4em;
			margin-bottom: .4em;
			line-height: 1.5;
		}
		
		p {
			line-height: 1.75;
		}
	}
}

#app > .info {
	padding-top: 10rem;
	background-image: linear-gradient(
	    $none,
	    $background 4rem
	);
	
	> .content {
		margin-top: -8rem !important;
	}
}

#app > .info > .content {
	display: grid;
	gap: 2rem 4rem;
	
	section.screenshots {
		overflow: hidden;
	}
	
	section.description {
		#project-description + h3 {
			margin-top: 2rem;
		}
	}
	
	aside {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

#footer {
	display: block;
	margin-top: 1rem;
}

@media (min-width: 750px) {
	#app > .info > .content {
		margin-top: -5rem;
		grid-template-columns: 1fr 16rem;
		position: relative;
		
		section.description {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
			
			p {
				opacity: .9;
			}
		}
		
		&:not(:has(section.screenshots)) {
			section.description {
				grid-row: 1 / 1;
			}
			
			aside {
				grid-column: 2 / 2;
			}
		}
		
		aside {
			right: 0;
			top: 0;
			position: absolute;
		}
	}
}

@media (max-width: 750px) {
	#app > .info {
		margin-top: 3rem;
	}
	
	section {
		padding-inline: 1rem;
		padding-block: .2rem;
		
		&.description {
			grid-row: 2 / 2;
		}
		
		&.details {
			margin-bottom: 1rem;
		}
	}
}


