@import "../core/style";
@import "sections/banner",
	"sections/hero",
	"sections/screenshots",
	"sections/comments",
	"sections/details";


section {
	&.description, &.screenshots, &.details, &.update {
		h3 {
			font-size: 1.4em;
			margin-bottom: .4em;
			line-height: 1.5;
		}
		
		p {
			line-height: 1.75;
		}
	}
}

#app > .info > .content {
	display: grid;
	gap: 2rem 4rem;
	
	section.screenshots {
		overflow: hidden;
	}
	
	aside {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}

#footer {
	display: block;
	margin-top: 1rem;
}

@media (min-width: 750px) {
	#app > .info > .content {
		margin-top: -4rem;
		grid-template-columns: 1fr 16rem;
		position: relative;
		
		section.description {
			grid-column: 1 / 1;
			grid-row: 2 / 2;
		}
		
		&:not(:has(.section.screenshots)) {
			section.description {
				grid-row: 1 / 1;
			}
		}
		
		aside {
			right: 0;
			top: 0;
			position: absolute;
		}
	}
}

@media (max-width: 750px) {
	#app > .info {
		margin-top: 3rem;
	}
	
	section {
		padding-inline: 1rem;
		padding-block: .2rem;
		
		&.description {
			grid-row: 2 / 2;
		}
		
		&.details {
			margin-bottom: 1rem;
		}
	}
}


