@import "../core/style";
@import "sections/banner",
	"sections/hero", 
	"sections/comments", 
	"sections/details";

section {
	&.description, &.screenshots, &.details, &.update {
		h3 {
			font-size: 1.4em;
			margin-bottom: .4em;
			line-height: 1.5;
		}
		
		p {
			line-height: 1.75;
		}
	}
}

@media (min-width: 750px) {
	#footer {
		display: block;
		margin-top: 2rem;
	}
	
	#app > .info > .content {
		margin-top: -4rem;
		display: grid;
		grid-template-columns: 1fr 16rem;
		gap: 2rem;
		
		.general {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			
			section {
				&.description {
					flex-shrink: 1;
					margin-bottom: 0;
				}
			}
		}
		
		aside {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			grid-column: 2 / 2;
			grid-row: 1 / 1;
		}
	}
}

@media (max-width: 750px) {
	#app > .info {
		margin-top: 3rem;
		
		.general {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
		
		aside {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-block: 1rem 4rem;
		}
	}
	
	section {
		padding-inline: 1rem;
	}
}


