@import "../core/style",
	"~Components/block/style", 
	"sections/projects",
	"sections/aboutme", 
	"sections/skills", 
	"sections/hero", 
	"sections/faq", 
	"sections/contact";

.center-decoration {
	margin-top: 1rem;
	margin-inline: auto;
	max-width: 100%;
}


/**********FUTURE LIB UPDATES***********/

//NEW SURFACE COLOR

boom-item {
	&.tag {
		outline: solid hsl(280 75% 85% / .1) 1px;
		background-color: hsl(280 50% 50% / .1);
		
		&:has(img) {
			padding-right: .4rem;	
		}
	}
	
	&.card {
		background-color: hsl(280 50% 40% / .1);
	}
}

boom-button {
	&.large {
		background-color: hsl(280 50% 30% / .1);
		border-radius: 15px;
		padding: 1.6rem;
		
		p {
			opacity: .95;
		}
	}
}

boom-faq {
	outline: solid hsl(280 75% 85% / .2) 1px;
	background-color: hsl(280 50% 30% / .1);
}

boom-article {
	outline: solid hsl(280 75% 85% / .2) 1px;
	background-color: hsl(280 50% 30% / .1);
	border-radius: 10px;
	
	&:active {
		background-color: hsl(280 50% 30% / .15);
	}
	
	.banner {
		border-radius: 10px 10px 0 0;
	}
	
	.details {
		.highlight {
			
		}
		
		h3 {
			font-size: 1.2em;
		}
	}
}

//CUSTOM INPUT ELEMENT

/*%placeholder {
	color: #CAC;
}

boom-input {
	position: relative;
	
	::placeholder {
		@extend %placeholder;
	}
	
	&::after {
		@extend %placeholder;
		display: block;
		content: attr(placeholder);
		top: .6em;
		left: .4em;
		padding: .2em .4em 0 .4em;
		position: absolute;
		background-color: $surface;
		border: solid 1px $surfaceActive;
		border-bottom: none;
		border-radius: .3rem;
		transition: .2s;
		transition-delay: 0s;
	}
	
	&:has(:blank) {
		input::after {
			animation: test .1s;
			opacity: 0;
		}
	}
	
	&:has(:not(:placeholder-shown)) {
		::placeholder {
			color: red;
		}
		
		&::after {
			animation: test .2s reverse;
			top: -.8em;
			transition-delay: 0s;
			font-size: .8em;
		}
	}
}

@keyframes test {
	0% {
		display: none;
		opacity: 1;
	}
	
	99% {
		 
	}
	
	100% {
		display: none;
		opacity: 0;
	}
}*/