.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
	.heroBanner {
		position: absolute;
		inset: 0;
		opacity: .25;
		
		img, video {
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	
	.heroInfo {
		text-align: center;
		max-width: 25rem;
		
		.heroHighlight {
			color: $primary;
			margin-bottom: .1em;
			font-size: 1.05em;
			font-family: "Roboto", sans-serif;
			font-weight: 500;
		}
		
		.heroTitle {
			font-size: 2.5em;
			margin-top: .25em;
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			&.revealed { transition-delay: .2s }
		}
		
		.heroDescription {
			margin-block: .6em 1.4em;
			max-width: 25em;
			font-size: 1.05em;
			line-height: 1.6;
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			&.revealed { transition-delay: .4s }
		}
		
		.heroButton {
			&.revealed { transition-delay: .6s }
			boom-button {
				font-family: Roboto, sans-serif;
				font-weight: 500;
			}
		}
	}
}