.projects {
	padding-block: 3.2rem;
	
	#seeAllProjects {
		margin-top: 1.5rem;
	}
	
	.text {
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}
	
	.grid {
		margin-top: 1.5rem;
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
		gap: .8rem;
		
		boom-article {
			height: 100%;
		}
	}
	
	.filter-holder {
		overflow: hidden;
		position: relative;
		margin-inline: -2rem;
		
		&::after {
			pointer-events: none;
			content: "";
			display: block;
			width: 100%;
			height: 500%;
			position: absolute;
			left: 0;
			bottom: -70%;
			box-shadow: inset 0 0 18px 20px $background;
		}
		
		boom-select {
			padding-inline: 2rem;
		}
	}
}


