.skills {
	background-color: rgb(0 0 0 / .1);
	
	.title-cool, .subtitle-cool {
		text-align: center;
	}
	
	.title-cool.revealed {
		transition-delay: .7s;
	}
	
	.subtitle-cool.revealed {
		transition-delay: .9s;
	}
	
	.skillsContent {
		margin-top: 1.8rem;
		display: flex;
		gap: .6rem;
		flex-wrap: wrap;
		font-size: 1.1em;
		
		boom-item {
			@for $i from 1 through 15 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 50ms;
				}
			}
		}
	}
	
	.content {
		padding-block: 3.2rem;
	}
}