section.skills-block {
	background-color: rgb(0 0 0 / .1);
	
	.title-cool, .subtitle-cool {
		text-align: center;
	}
	
	.skills-content {
		margin-top: 1.8rem;
		display: flex;
		gap: .6rem;
		flex-wrap: wrap;
		
		boom-item {
			@for $i from 1 through 15 {
				&:nth-child(#{$i}) {
					transition-delay: $i * 50ms;
				}
			}
		}
	}
	
	.content {
		padding-block: 3.2rem 4.6rem;
	}
}