#contact {
	padding-top: 3rem;
	margin-bottom: 0;
	background-color: rgb(0 0 0 / .08);
	
	form {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		
		input, textarea, boom-button {
			width: 100%;
		}
	
		boom-button {
			margin-top: .6rem;
		}
	}
	
	.text {
		display: flex;
		flex-direction: column;
		
		.description {
			flex-grow: 1;
		}
	
		.social-description {
			margin-block: .6rem;
		}
	
		.social {
			display: flex;
			gap: 1rem;
		
			a:nth-child(2) {
				margin-right: .3rem;
			}
		}
	}
}

@media (min-width: 750px) {
	#contact .content {
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
	}
}

@media (max-width: 750px) {
	#contact {
		form {
			gap: .6rem;
			
			input, textarea {
				font-size: 1.05em;
			}
			
			textarea {
				height: 8rem;
			}
		}
		
		p {
			font-size: 1.05em;
		}
		
		.social {
			margin-block: .3rem 2rem;
		}
	}
}


