.test.content {
	&::before {
		content: "";
		z-index: -1;
		left: 0;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(
	        #17092a 0%,
	        $none 95%
	    );
	}
} 

#hero {
	display: flex;
	align-items: center;
	height: 100vh;
	
	.info {
		flex-grow: 1;
		
		span {
			color: $primary;
			margin-bottom: .1em;
			font-size: 1.05em;
		}
		
		h1 {
			font-size: 2.5em;
			margin-block: .2em .3em;
			font-family: "Raleway", sans-serif;
			
			&.revealed { transition-delay: .2s }
		}
		
		p {
			margin-block: .5em 1em;
			max-width: 25em;
			font-size: 1.05em;
			line-height: 1.6;
			
			&.revealed { transition-delay: .4s }
		}
		
		.button-holder {
			&.revealed { transition-delay: .6s }
		}
	}
	.image {
		width: 100%;
		
		.revealed {
			transition-delay: .5s;
		}
		
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
}

@media (min-width: 750px) {
	#hero {
		.image {
			z-index: -1;
			position: absolute;
			top: 0;
			right: 0;
			height: 100vh;
			
			img {
				object-position: right;
			}
		}
	}
}

@media (max-width: 750px) {
	#hero {
		flex-direction: column;
		height: auto;
		
		.info {
			width: 90%;
			height: 65vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.image img {
			width: 70vw;
			margin-block: -10rem 5rem;
			object-position: center;
		}
		
		p {
			width: 92%;
		}
	}
}