.skills.block {
	padding-block: 3rem .1rem;
	background-color: rgb(0 0 0 / .1);
}

.projects.block {
	padding-top: 3rem;
}

.aboutme.block {
	padding-block: 3rem .1rem;
	background-color: rgb(0 0 0 / .1);
}

.faq.block {
	padding-block: 3rem .1rem;
}

.contact.block {
	padding-top: 3rem;
}

.center-decoration {
	margin-top: 1rem;
	margin-inline: auto;
	max-width: 100%;
}