@import "~boomutil/index",
	"~Components/header/style", "~Components/footer/style";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.social img {
	width: 2.6rem;
	height: 2.6rem;
	object-fit: scale-down;
	transition: .3s;
	filter: invert(40%)
	sepia(100%)
	saturate(100%)
	hue-rotate(234deg)
	brightness(100%)
	contrast(103%);

	&:hover {
		filter: invert(40%)
		sepia(100%)
		saturate(100%)
		hue-rotate(234deg)
		brightness(125%)
		contrast(103%);
	}
}

.cat {
	color: $title;
	font-size: 1.7em;
	margin-bottom: .5em;

	&::before {
		display: inline-block;
		content: "";
		width: .6ch;
		height: 2ch;
		margin-right: 1ch;
		border-radius: 1px;
		transform: translateY(.4ch);
		background-color: $primary;
	}
}

@media (max-width: 750px) {
	.cat {
		font-size: 1.8em;
	}
}


