@import "style";
@import "project/banner",
	"project/actions";

.banner-holder {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100vh;
	background-color: rgb(0 0 0 / .1);
	position: absolute;
	z-index: -1;
	inset: 0;
	
	&::after {
		@include pseudo($none);
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}
	
	#banner {
		height: 100%;
		width: 100%;
		object-fit: cover;
		opacity: .9;
	}
}

main {
	height: 100vh;
	margin-bottom: 1rem;
	
	.content {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: .4rem;
		justify-content: center;
		
		.info {
			display: flex;
			flex-direction: column;
			gap: .4rem;
			
			.highlight {
				color: $primary;
				margin-bottom: .2em;
			}
			
			.title {
				font-size: 2.5em;
				position: relative;
				
				&::before {
					content: attr(title);
					position: absolute;
					top: 3px;
					left: -3px;
					color: $primary;
					z-index: -1;
					opacity: .4;
				}
			}
			
			ul {
				margin-block: .1rem .3rem;
				display: flex;
				gap: 1rem;
				
				li {
					display: flex;
					align-items: center;
					gap: .3rem;
					color: #DDD;
					
					.material-symbols-outlined {
						font-size: 1.3em;
						color: inherit;
					}
					
					h6 {
						font-size: 1em;
						font-weight: 600;
						color: inherit;
					}
				}
			}
			
			p {
				@include lines(3);
				line-height: 1.6;
				font-size: 1em;
			}
		}
		
		.actions {
			margin-top: .6rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: .5rem;
			
			boom-button {
				width: 100%;
			
				&:nth-child(2) {
					$btn-color: #EEE;
					color: white;
					border: solid 1px $btn-color;
				
					&:hover {
						background-color: $btn-color;
						color: black;
					}
				}
			}
		}
	}
}

section {
	padding-block: 1rem;
	
	&.comments {
		padding-bottom: 4rem;
		
		.cat {
			margin-bottom: 1.6rem;
		}
	}
}

@media (min-width: 750px) {
	.banner-holder {
		&::after {
			background: linear-gradient(90deg,
			    $background 0% 10rem,
			    rgb(17 7 31 / .6) 25rem,
			    $none 40rem
		    ), linear-gradient(
			    $none 0% 50%,
			    rgb(17 7 31 / .7) 75%,
			    $background
		    );
		}
	}
	
	main {
		.content {
			$mainWidth: 22rem;
			
			.info {
				max-width: $mainWidth;
			}
			
			.actions {
				max-width: $mainWidth;
			}
		}
	}
}

@media (max-width: 750px) {
	.banner-holder {
		&::after {
			background: linear-gradient(
			    $none,
			    $background
			);
		}
	}
	
	main {
		text-align: center;
		$mainWidth: min(25rem, 85%);
		
		.info {
			.highlight {
				font-size: 1.1em;
			}
			
			.title {
				font-size: 1.2em;
				margin-block: -.1rem .2rem;
			}
			
			ul {
				justify-content: center;
				font-size: 1.1em;
			}
			
			.description {
				font-size: 1.1em;
				line-height: 1.7;
				margin-inline: auto;
			}
		}
		
		.actions {
			width: $mainWidth;
			margin-inline: auto;
		}
	}
}

/*#app-holder {
	#about {
		width: 100%;
		position: absolute;
		margin-top: 70vh;
		top: 0;
	}
	
	.general {
		padding-bottom: 2rem;
	}
}

@media (min-width: 750px) {
	#about > .content {
		display: grid;
		grid-template-columns: 1fr 20rem;
	}
}

@media (max-width: 750px) {
	#about #main {
		text-align: center;
	}
	
	#meta {
		justify-content: center;
	}
	
	.cat {
		margin-block: 1em .4em;
	}
}*/


